section {
  width: 50%;
  min-width: 768px;
  padding: 2% 10%;
  background-color: #fefefe;
  margin: 100px auto;
  border-radius: 8px;
}

h1 {
  text-align: center;
  font-size: 1.8rem;
  letter-spacing: -1px;
  color: #100754;
  margin: 30px 0 50px;
}

button {
  border-radius: 4px;
  border: none;
  font-weight: 600;
  font-size: 0.9rem;
  cursor: pointer;
}

.medal-input-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 2%;
}
.medal-input-container label {
  flex: 1;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 10px;
  font-weight: 600;
}
.medal-input-container input {
  box-sizing: border-box;
  width: 100%;
  height: 30px;
  border-radius: 4px;
  margin: 0;
  padding: 0 10px;
  border: none;
  box-shadow: inset 0px 0px 2px #666;
}
.medal-input-container input:focus {
  outline: none;
}

.medal-input-container .button-wrapper {
  display: flex;
  gap: 10px;
}
.medal-input-container .button-wrapper button {
  width: 80px;
  height: 30px;
  background-color: rgb(255, 195, 104);
}

.default-message {
  margin: 50px 0;
  text-align: center;
}
.medal-list-container {
  position: relative;
  margin: 50px 0;
  padding: 40px 0;
}

#medalSortSelect {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  border: none;
  padding-right: 4px;
  font-size: 0.9rem;
}

#medalSortSelect:focus {
  outline: none;
}
.medal-list-wrapper {
  width: 100%;
  text-align: center;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 4px #00000030;
}

.medal-list-wrapper table {
  width: 100%;
  border-collapse: collapse;
}

.medal-list-wrapper table thead {
  background-color: rgb(48, 45, 92);
  border-radius: 4px 4px 0 0;
  color: #fefefe;
}
.medal-list-wrapper table tr {
  height: 46px;
}

.medal-list-wrapper table tbody tr:not(:last-child) {
  border-bottom: solid 1px #eee;
}

.medal-list-wrapper table td:first-child {
  background-color: rgb(236, 235, 243);
}

.btn-delete {
  background-color: #e83939;
  padding: 6px 12px;
  color: #fefefe;
}
